.show-page {
  background-color: #fff;
  margin: auto;

  .image {
    width: 60%;
    object-fit: fill;
    height: 250px;
    padding: 2rem 2rem;
  }

  .content {
    padding: 2rem 2rem;

    .title {
      font-weight: 700;
      font-size: 20px;
    }
  }
}
