.title {
  font-weight: 700;
}
.icon-lg {
  width: 32px;
  height: auto;
}

.show-price {
  font-weight: 300;
  margin-bottom: 0rem;
  margin-left: .5rem;
}

.show-action-icon {
  width: 24px;
  height: auto;
}
