.footer {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;

  .logotype {
    width: 166px;
    height: auto;
    margin: auto;
    margin-bottom: 1.5rem;
  }

  .copyright {
    font-size: .75rem;
    color: darken($color: $light-gray, $amount: 40);
  }
}
